<p style="color: green"><%= notice %></p>

<h1>Friend List</h1>
<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>




<h1>Friends</h1>

<div id="friends">
  <% @friends.each do |friend| %>
    <%= render friend %>
    <p>
      <%= link_to "Show Edit Distroy", friend %>
    </p>
  <% end %>
</div>

<%= link_to "New friend", new_friend_path %>
